html,
body,
#app {
  @apply w-full h-full overflow-x-hidden bg-white text-black;
}

html,
body {
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}

.flex-center {
  @apply flex justify-center items-center;
}

.carousel__prev,
.carousel__next {
  @apply bg-gray-500;
}

#app {
  --vc-pgn-background-color: #dee2e6;
  --vc-pgn-active-color: #6c757d;

  .ql-toolbar,
  .ql-container {
    @apply border-gray-300;

    * {
      @apply border-gray-300;
    }
  }

  .ql-toolbar {
    @apply border-t-0 border-l-0 border-r-0;
  }

  .ql-container {
    @apply border-b-0 border-l-0 border-r-0;
  }

  .ql-picker-label,
  .ql-picker-options {
    @apply rounded-md;
  }

  .ql-formats > button {
    @apply rounded-md;
  }
}

button.disabled,
a.disabled {
  @apply bg-gray-200 text-gray-600 pointer-events-none;
}

.ql-align-center img {
  @apply mx-auto;
}

@import "./animations.scss";
